<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Gento\Shipping\Controller\Adminhtml\Location\Index">
        <arguments>
            <argument name="activeMenuItem" xsi:type="string">Gento_Shipping::shipping_location</argument>
            <argument name="pageTitle" xsi:type="string" translate="true">Locations</argument>
        </arguments>
    </type>
    <type name="Gento\Shipping\Controller\Adminhtml\Location\MassDelete">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Gento\Shipping\Model\Location\CollectionProvider</argument>
            <argument name="executor" xsi:type="object">Gento\Shipping\Model\Location\Executor\Delete</argument>
            <argument name="successMessage" xsi:type="string">A total of %1 Locations have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting Locations.</argument>
        </arguments>
    </type>
    <type name="Gento\Shipping\Controller\Adminhtml\Location\Delete">
        <arguments>
            <argument name="executor" xsi:type="object">Gento\Shipping\Model\Location\Executor\Delete</argument>
            <argument name="paramName" xsi:type="string">location_id</argument>
            <argument name="successMessage" xsi:type="string" translate="true">Location was deleted</argument>
            <argument name="missingEntityErrorMessage" xsi:type="string" translate="true">Requested Location for delete does not exist.</argument>
            <argument name="generalErrorMessage" xsi:type="string" translate="true">There was a problem deleting the Location</argument>
        </arguments>
    </type>
    <type name="Gento\Shipping\Controller\Adminhtml\Pickup\Index">
        <arguments>
            <argument name="activeMenuItem" xsi:type="string">Gento_Shipping::shipping_pickup</argument>
            <argument name="pageTitle" xsi:type="string" translate="true">Pickups</argument>
        </arguments>
    </type>
    <type name="Gento\Shipping\Controller\Adminhtml\Pickup\MassDelete">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Gento\Shipping\Model\Pickup\CollectionProvider</argument>
            <argument name="executor" xsi:type="object">Gento\Shipping\Model\Pickup\Executor\Delete</argument>
            <argument name="successMessage" xsi:type="string">A total of %1 Pickups have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting Pickups.</argument>
        </arguments>
    </type>
    <type name="Gento\Shipping\Controller\Adminhtml\Pickup\Delete">
        <arguments>
            <argument name="executor" xsi:type="object">Gento\Shipping\Model\Pickup\Executor\Delete</argument>
            <argument name="paramName" xsi:type="string">pickup_id</argument>
            <argument name="successMessage" xsi:type="string" translate="true">Pickup was deleted</argument>
            <argument name="missingEntityErrorMessage" xsi:type="string" translate="true">Requested Pickup for delete does not exist.</argument>
            <argument name="generalErrorMessage" xsi:type="string" translate="true">There was a problem deleting the Pickup</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Block\GlobalSearch">
        <arguments>
            <argument name="entityResources" xsi:type="array">
                <item name="GENTo Shipping Pickups" xsi:type="string">Gento_Shipping::shipping_pickup</item>
            </argument>
            <argument name="entityPaths" xsi:type="array">
                <item name="GENTo Shipping Pickups" xsi:type="string">gento_shipping/Pickup/index</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure">
        <plugin name="gento_shipping_configuration" type="Gento\Shipping\Model\Config\StructurePlugin" />
    </type>
</config>
